In [3]:
import pandas as pd

In [4]:
Data_2009 = pd.read_csv(r'C:\Users\Shilp\Documents\Shilpa\Shilpa MSBA\Semester 1\Programming for Analytics [CIS 9650]\Final Group Project\2009.csv')

In [5]:
Data_2008= pd.read_csv(r'C:\Users\Shilp\Documents\Shilpa\Shilpa MSBA\Semester 1\Programming for Analytics [CIS 9650]\Final Group Project\2008.csv')

In [7]:
Data_2007= pd.read_csv(r'C:\Users\Shilp\Documents\Shilpa\Shilpa MSBA\Semester 1\Programming for Analytics [CIS 9650]\Final Group Project\2007.csv')

In [8]:
Data_2006= pd.read_csv(r'C:\Users\Shilp\Documents\Shilpa\Shilpa MSBA\Semester 1\Programming for Analytics [CIS 9650]\Final Group Project\2006.csv')

In [9]:
Data_2005= pd.read_csv(r'C:\Users\Shilp\Documents\Shilpa\Shilpa MSBA\Semester 1\Programming for Analytics [CIS 9650]\Final Group Project\2005.csv')

In [10]:
Data_2004= pd.read_csv(r'C:\Users\Shilp\Documents\Shilpa\Shilpa MSBA\Semester 1\Programming for Analytics [CIS 9650]\Final Group Project\2004.csv')

In [11]:
Data_2003 = pd.read_csv(r'C:\Users\Shilp\Documents\Shilpa\Shilpa MSBA\Semester 1\Programming for Analytics [CIS 9650]\Final Group Project\2003.csv')

In [12]:
Data_2002= pd.read_csv(r'C:\Users\Shilp\Documents\Shilpa\Shilpa MSBA\Semester 1\Programming for Analytics [CIS 9650]\Final Group Project\2002.csv')

In [13]:
Data_2001= pd.read_csv(r'C:\Users\Shilp\Documents\Shilpa\Shilpa MSBA\Semester 1\Programming for Analytics [CIS 9650]\Final Group Project\2001.csv')

In [14]:
Data_2000= pd.read_csv(r'C:\Users\Shilp\Documents\Shilpa\Shilpa MSBA\Semester 1\Programming for Analytics [CIS 9650]\Final Group Project\2000.csv')

In [15]:
csv_file_list = [Data_2000, Data_2001, Data_2002, Data_2003, Data_2004, Data_2005,Data_2006,Data_2007,Data_2008,Data_2009]

list_of_dataframes = []
for filename in csv_file_list:
    list_of_dataframes.append(filename)

data_append = pd.concat(list_of_dataframes)

In [16]:
data_append.head()

   Unnamed: 0 State      date metric_name  metric_value         var4
0           5    AK  20000101        PRCP      3.772727  1473.468468
1           7    AK  20000101        SNOW      2.168142          NaN
2          10    AK  20000101        TAVG    -23.055556          NaN
3          11    AK  20000101        TMAX   -239.839779  1524.247312
4          12    AK  20000101        TMIN   -301.219780  1515.478723

In [18]:
data_append.drop(['var4','Unnamed: 0'], 1)

      State      date metric_name  metric_value
0        AK  20000101        PRCP      3.772727
1        AK  20000101        SNOW      2.168142
2        AK  20000101        TAVG    -23.055556
3        AK  20000101        TMAX   -239.839779
4        AK  20000101        TMIN   -301.219780
...     ...       ...         ...           ...
90482    WY  20091231        PRCP      9.058394
90483    WY  20091231        SNOW      3.646067
90484    WY  20091231        TAVG    -96.281250
90485    WY  20091231        TMAX    -49.497110
90486    WY  20091231        TMIN   -141.572254

[908818 rows x 4 columns]

In [19]:
data_append.to_csv(r'C:\Users\Shilp\Documents\Shilpa\Shilpa MSBA\Semester 1\Programming for Analytics [CIS 9650]\Final Group Project\data_2000_2009.csv')