In [17]:
import pandas as pd

In [41]:
Data_2020 = pd.read_csv(r'C:\Users\Shilp\Documents\Shilpa\Shilpa MSBA\Semester 1\Programming for Analytics [CIS 9650]\Final Group Project\2020.csv')

In [42]:
Data_2019 = pd.read_csv(r'C:\Users\Shilp\Documents\Shilpa\Shilpa MSBA\Semester 1\Programming for Analytics [CIS 9650]\Final Group Project\2019.csv')

In [43]:
Data_2018= pd.read_csv(r'C:\Users\Shilp\Documents\Shilpa\Shilpa MSBA\Semester 1\Programming for Analytics [CIS 9650]\Final Group Project\2018.csv')

In [44]:
Data_2017= pd.read_csv(r'C:\Users\Shilp\Documents\Shilpa\Shilpa MSBA\Semester 1\Programming for Analytics [CIS 9650]\Final Group Project\2017.csv')

In [45]:
Data_2016= pd.read_csv(r'C:\Users\Shilp\Documents\Shilpa\Shilpa MSBA\Semester 1\Programming for Analytics [CIS 9650]\Final Group Project\2016.csv')

In [46]:
Data_2015= pd.read_csv(r'C:\Users\Shilp\Documents\Shilpa\Shilpa MSBA\Semester 1\Programming for Analytics [CIS 9650]\Final Group Project\2015.csv')

In [47]:
Data_2014= pd.read_csv(r'C:\Users\Shilp\Documents\Shilpa\Shilpa MSBA\Semester 1\Programming for Analytics [CIS 9650]\Final Group Project\2014.csv')

In [48]:
Data_2013 = pd.read_csv(r'C:\Users\Shilp\Documents\Shilpa\Shilpa MSBA\Semester 1\Programming for Analytics [CIS 9650]\Final Group Project\2013.csv')

In [49]:
Data_2012= pd.read_csv(r'C:\Users\Shilp\Documents\Shilpa\Shilpa MSBA\Semester 1\Programming for Analytics [CIS 9650]\Final Group Project\2012.csv')

In [50]:
Data_2011= pd.read_csv(r'C:\Users\Shilp\Documents\Shilpa\Shilpa MSBA\Semester 1\Programming for Analytics [CIS 9650]\Final Group Project\2011.csv')

In [51]:
Data_2010= pd.read_csv(r'C:\Users\Shilp\Documents\Shilpa\Shilpa MSBA\Semester 1\Programming for Analytics [CIS 9650]\Final Group Project\2010.csv')

In [52]:
data_append = Data_2020.append(Data_2019, ignore_index=True)

In [61]:
data_append = data_append.append(Data_2010, ignore_index=True)

In [77]:
data_append.to_csv(r'C:\Users\Shilp\Documents\Shilpa\Shilpa MSBA\Semester 1\Programming for Analytics [CIS 9650]\Final Group Project\data_2010_2020.csv')

In [76]:
data_append.drop(['var4'], 1)

        Unnamed: 0 State      date metric_name  metric_value
0                3    AK  20200101        PRCP     59.407895
1                9    AK  20200101        SNOW     48.717949
2               16    AK  20200101        TAVG   -161.350318
3               18    AK  20200101        TMAX    -94.241935
4               19    AK  20200101        TMIN   -171.959677
...            ...   ...       ...         ...           ...
982553      458183    WY  20101231        PRCP     26.484950
982554      458184    WY  20101231        SNOW     58.369565
982555      458186    WY  20101231        TAVG   -215.582524
982556      458187    WY  20101231        TMAX   -153.293532
982557      458188    WY  20101231        TMIN   -241.129353

[982558 rows x 5 columns]