In [16]:
import pandas as pd

In [17]:
Data_1999 = pd.read_csv(r'C:\Users\Shilp\Documents\Shilpa\Shilpa MSBA\Semester 1\Programming for Analytics [CIS 9650]\Final Group Project\1999.csv')

In [18]:
Data_1998= pd.read_csv(r'C:\Users\Shilp\Documents\Shilpa\Shilpa MSBA\Semester 1\Programming for Analytics [CIS 9650]\Final Group Project\1998.csv')

In [19]:
Data_1997= pd.read_csv(r'C:\Users\Shilp\Documents\Shilpa\Shilpa MSBA\Semester 1\Programming for Analytics [CIS 9650]\Final Group Project\1997.csv')

In [20]:
Data_1996= pd.read_csv(r'C:\Users\Shilp\Documents\Shilpa\Shilpa MSBA\Semester 1\Programming for Analytics [CIS 9650]\Final Group Project\1996.csv')

In [21]:
Data_1995= pd.read_csv(r'C:\Users\Shilp\Documents\Shilpa\Shilpa MSBA\Semester 1\Programming for Analytics [CIS 9650]\Final Group Project\1995.csv')

In [22]:
Data_1994= pd.read_csv(r'C:\Users\Shilp\Documents\Shilpa\Shilpa MSBA\Semester 1\Programming for Analytics [CIS 9650]\Final Group Project\1994.csv')

In [23]:
Data_1993 = pd.read_csv(r'C:\Users\Shilp\Documents\Shilpa\Shilpa MSBA\Semester 1\Programming for Analytics [CIS 9650]\Final Group Project\1993.csv')

In [24]:
Data_1992= pd.read_csv(r'C:\Users\Shilp\Documents\Shilpa\Shilpa MSBA\Semester 1\Programming for Analytics [CIS 9650]\Final Group Project\1992.csv')

In [25]:
Data_1991= pd.read_csv(r'C:\Users\Shilp\Documents\Shilpa\Shilpa MSBA\Semester 1\Programming for Analytics [CIS 9650]\Final Group Project\1991.csv')

In [26]:
Data_1990= pd.read_csv(r'C:\Users\Shilp\Documents\Shilpa\Shilpa MSBA\Semester 1\Programming for Analytics [CIS 9650]\Final Group Project\1990.csv')

In [27]:
csv_file_list = [Data_1990, Data_1991, Data_1992, Data_1993, Data_1994, Data_1995,Data_1996,Data_1997,Data_1998,Data_1999]

list_of_dataframes = []
for filename in csv_file_list:
    list_of_dataframes.append(filename)

data_append = pd.concat(list_of_dataframes)

In [28]:
data_append.head()

   Unnamed: 0 State      date metric_name  metric_value         var4
0           5    AK  19900101        PRCP      9.441667  1446.666667
1           6    AK  19900101        SNOW     13.351064          NaN
2           8    AK  19900101        TAVG     -1.333333          NaN
3           9    AK  19900101        TMAX   -141.514286  1450.947368
4          10    AK  19900101        TMIN   -218.133333  1450.947368

In [29]:
data_append.drop(['var4','Unnamed: 0'], 1)

      State      date metric_name  metric_value
0        AK  19900101        PRCP      9.441667
1        AK  19900101        SNOW     13.351064
2        AK  19900101        TAVG     -1.333333
3        AK  19900101        TMAX   -141.514286
4        AK  19900101        TMIN   -218.133333
...     ...       ...         ...           ...
90511    WY  19991231        PRCP      1.807487
90512    WY  19991231        SNOW      0.000000
90513    WY  19991231        TAVG    -41.148936
90514    WY  19991231        TMAX     32.336898
90515    WY  19991231        TMIN    -93.946524

[817639 rows x 4 columns]

In [30]:
data_append.to_csv(r'C:\Users\Shilp\Documents\Shilpa\Shilpa MSBA\Semester 1\Programming for Analytics [CIS 9650]\Final Group Project\data_1990_1999.csv')