In [1]:
import pandas as pd

In [2]:
raw_data = pd.read_csv(r'C:\Users\Shilp\Documents\Shilpa\Shilpa MSBA\Semester 1\Programming for Analytics [CIS 9650]\Final Group Project\Raw data\Extracted data\2010.csv (extract.me)\s104Dq6vNKWe', header=1)

In [3]:
raw_data.columns = ['station', 'date','metric_name','metric_value','var1','var2','var3','var4']

In [4]:
raw_data.head()

       station      date metric_name  metric_value var1 var2 var3  var4
0  AE000041196  20100101        TAVG           181    H  NaN    S   NaN
1  AEM00041194  20100101        TMAX           250  NaN  NaN    S   NaN
2  AEM00041194  20100101        TMIN           168  NaN  NaN    S   NaN
3  AEM00041194  20100101        PRCP             0  NaN  NaN    S   NaN
4  AEM00041194  20100101        TAVG           194    H  NaN    S   NaN

In [17]:
raw_data['country'] = raw_data['station'].astype(str).str[:2]

In [18]:
raw_data.head()

,station,date,metric_name,metric_value,var1,var2,var3,var4,country
0,AE000041196,20100101,TAVG,181,H,NaN,S,NaN,AE
1,AEM00041194,20100101,TMAX,250,NaN,NaN,S,NaN,AE
2,AEM00041194,20100101,TMIN,168,NaN,NaN,S,NaN,AE
3,AEM00041194,20100101,PRCP,0,NaN,NaN,S,NaN,AE
4,AEM00041194,20100101,TAVG,194,H,NaN,S,NaN,AE

In [19]:
raw_data_us = raw_data[raw_data.country == 'US']

In [ ]:
raw_data_us.head()

In [ ]:
for_states = pd.read_csv(r'C:\Users\Shilp\Documents\Shilpa\Shilpa MSBA\Semester 1\Programming for Analytics [CIS 9650]\Final Group Project\ghcnd-stations.txt', delim_whitespace=True, header = None, error_bad_lines=False )

In [ ]:
for_states.head()

In [ ]:
for_states.columns = ['station', 'latitude','longitude','elevation','State','Street1','Street2','Street3']

In [ ]:
us_station_state = pd.merge(raw_data_us,for_states[['station','State']],on='station',how='left')

In [ ]:
us_station_state.head()

In [ ]:
us_station_state.drop(['var1','var2','var3','var4','country'], 1)

In [ ]:
state_metrics = us_station_state.groupby(['State','date','metric_name']).mean().reset_index()

In [ ]:
state_metrics.head()

In [ ]:
state_metrics_filtered = state_metrics.loc[state_metrics['metric_name'].isin(['TMIN','TMAX','TAVG','SNOW','PRCP'])]

In [ ]:
state_metrics_filtered.head()

In [ ]:
state_metrics_filtered.drop(['var4'], 1)

In [ ]:
state_metrics_filtered.to_csv(r'C:\Users\Shilp\Documents\Shilpa\Shilpa MSBA\Semester 1\Programming for Analytics [CIS 9650]\Final Group Project\2010.csv')